<template>
  <Page class="page">
    <ActionBar class="action-bar" title="Calculator">
    </ActionBar>

    <StackLayout>
      <Label class="operations" :text="input_view" placeholder="0"/>
      <Label class="partial" :text="partial"/>
      <FlexboxLayout flexDirection="row" class="buttons">
        <FlexboxLayout flexDirection="column" class="sosa">
            <FlexboxLayout flexDirection="row" class="candpow">
                <Button class="buttC" @tap="clear()">C</Button>
                <Button class="buttX" @tap="addOperation('**')">^</Button>
            </FlexboxLayout>
            <FlexboxLayout class="numbers" flexWrap="wrap">
            <Button class="number" @tap="addNumber(1)">1</Button>
            <Button class="number" @tap="addNumber(2)">2</Button>
            <Button class="number" @tap="addNumber(3)">3</Button>
            <Button class="number" @tap="addNumber(4)">4</Button>
            <Button class="number" @tap="addNumber(5)">5</Button>
            <Button class="number" @tap="addNumber(6)">6</Button>
            <Button class="number" @tap="addNumber(7)">7</Button>
            <Button class="number" @tap="addNumber(8)">8</Button>
            <Button class="number" @tap="addNumber(9)">9</Button>
            <Button class="number" @tap="addNumber(0)">0</Button>
            <Button class="number" @tap="addOperation('.')">.</Button>
            <Button class="number" @tap="calc()">=</Button>
            </FlexboxLayout>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column" class="actions">
          <Button @tap="addOperation('/')" >/</Button>
          <Button @tap="addOperation('*')" >x</Button>
          <Button @tap="addOperation('-')" >-</Button>
          <Button @tap="addOperation('+')" >+</Button>
        </FlexboxLayout>
      </FlexboxLayout>
    </StackLayout>
  </Page>
</template>

<script>
export default {
    data () {
      return {
        input_view: '',
        surprise: false
      };
    },
    methods: {
      addNumber(n) {
        this.input_view = this.input_view.toString();
        if(this.input_view =='0'){
          
        }
        else{
        this.input_view += n;
        }
      },
        addOperation(n) {
        if(this.input_view!= ''){
          this.input_view = this.input_view.toString();
          if(this.input_view[this.input_view.length-1]!=n){
          if((this.input_view[this.input_view.length-1]=='-')||(this.input_view[this.input_view.length-1]=='/')||(this.input_view[this.input_view.length-1]=='*')||(this.input_view[this.input_view.length-1]=='+')||(this.input_view[this.input_view.length-1]=='.'))
          {
            if(((this.input_view[this.input_view.length-2]=='*')&&(this.input_view[this.input_view.length-1]=='*'))){
            this.input_view = this.input_view.substr(0, this.input_view.length - 1);
            this.input_view = this.input_view.substr(0, this.input_view.length - 1);
            this.input_view += n;
            }else{
            this.input_view = this.input_view.substr(0, this.input_view.length - 1);
            this.input_view += n;
            }
          }
          else{
          this.input_view += n;
          }
          }
        }
      },
      clear(){
        this.input_view = ' ';
        this.partial = ' ';
      },
      calc(){
        try{
        if((this.input_view[this.input_view.length-1]=='-')||(this.input_view[this.input_view.length-1]=='/')||(this.input_view[this.input_view.length-1]=='*')||(this.input_view[this.input_view.length-1]=='+')||(this.input_view[this.input_view.length-1]=='.')){
          this.input_view = this.input_view.substr(0, this.input_view.length - 1);
        }

        this.input_view = eval(this.input_view);
        if(this.input_view == 'Infinity'){
          this.input_view = ' ';
          this.partial = 'Ошибка вычислений!';
        }
        else{
        this.partial = this.input_view;
        }
        }
        catch{
          this.partial= 'Ошибка';
        }
      }
    
    }
  };
</script>

<style scoped lang="scss">
    Button {
    margin: 0;
    font-size: 26;
    height: 20%;
    border-radius: 0.5%;
    color: white;
    background-color: #78858b;
    &:active{
        background-color: #585d5f; ;
    }
  }
  Label {
    font-size: 32;
    text-align: right;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20;
  }
  .partial {
    font-size: 25;
    color: #aaa;
  }
  .number {
    width: 33.33%;
  }
  .buttC{
      width: 66.7%;
      background-color: #587581;
  }
  .candpow{
      width: 100%;
  }
  .buttX{
      width: 33.33%;
      background-color: #70909e;
  }
  .sosa{
      width: 80%;
  }
  .buttons{
      width: 100%;
  }
  .actions Button {
    height: 25%;
    width: 21%;
    background-color: #faa303;
  }
    .actions Button:active {
    background-color: #cc8603;
  }
  .numbers {
    width: 70%;
    height: 100%;
  }
</style>
